html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: $bodyCopy;
	font-family: $publicSans;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 0px){
	.container {
		max-width: calc(100% * 0.90);
	}
}

@media screen and (min-width: 768px){
	.container {
		max-width: calc(100% * 0.95);
	}
}

@media screen and (min-width: 1200px){
	.container {
		max-width: calc(100% * 0.80);
	}
}

// @media (min-width: 1327px) {
// 	.container {
//         max-width: 1246px;
//     }
// }

// @media (max-width: 1326px) {
// 	.container {
//         max-width: 1246px;
//     }
// }

// @media (max-width: 1200px) {
// 	.container {
//         max-width: 1140px;
//     }
// }

// @media (max-width: 1024px) {	
// 	.container {
//         max-width: 990px;
//     }
// }

// @media (max-width: 992px) {	
// 	.container {
//         max-width: 960px;
//     }
// }

// @media (max-width: 768px) {
// 	.container {
//         max-width: 720px;
//     }
// }

// @media (max-width: 576px){
// 	.container {
// 		max-width: 540px;
// 	}
// }

// @media (max-width: 375px){
// 	.container {
// 		max-width: 348px;
// 	}
// }

